<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="style.css">
    <title>Travel Landing Page</title>
</head>
<body>
   <section class="showcase">
    <header> 
      <h2 class="logo"> Safari</h2>
      <div class="toggle"></div>
    </header>

    <video src="../giraffes_-_81702 (1080p).mp4" loop autoplay></video>
    
    <div class="overlay"></div>

    <div class="text">
      <h2>Get intouch with Nature </h2> 
      <h3>Explore Africa</h3>
      <p>Who hasn’t dreamt of going on a safari in Africa? This massive continent has inspired so many to want to see exotic animals in their natural habitat and to experience the cultural diversity Africa has to offer.</p>
      <a href="#">Explore</a>
    </div>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="auth/signup.hbs">Signup</a></li> 
      <li><a href="/login">Login</a></li> 
      <li><a href="destinations">Destination</a></li>
    </ul>
  </div>
  </body>
</html>