{{!-- views/books/book-create.hbs --}}

<h2>Create a destination</h2>

<form action="/destinations/create" method="post">
  <label> Location:
    <input type="text" name="location" />
  </label>

  <label> Safari:
    <input type="text" name="safari" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <label> Rate:
    <input type="number" name="rating" min="1" max="10" />
  </label>

  <button type="submit"> Create </button>
</form>
