{{!-- views/books/book-details.hbs --}}

<h1>{{destination.location}}</h1>
<hr>
<p>safari: {{destinations.safari}}</p>
<p>Summary: {{destinations.description}}</p>
<p>Rating: {{destinations.rating}}/10</p>
<hr>
<a href="/destinations">Back</a>
